/*HAEDER*/
header.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .header-logo{
        width: 320px;
        margin: 10px 0px;
    }

    .navPages-container {
        width: 50%;
    }

    .navUser {
        width: 40%;
    }
}

/*shg styles*/
.shg-c{
    padding: 0!important;
}

/*SLIDER*/
.custom-slider{
    padding:0!important;
    .shg-sld-slides-padded{
        padding:0;
    }

    .shogun-image-content{
        max-width: 960px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;   
    }

    .shogun-heading-component{
        h3{
            text-shadow: 0 0 62px #060606;
            color: #ffffff;
            font-size: 49px!important;
            line-height: 64.44px!important;
        }

        h2{
            text-shadow: 0 0 250px #060606;
            color: #ffffff;
            font-size: 166px!important;
            font-weight: 400;
            line-height: 136.28px;
            text-transform: uppercase;
            letter-spacing: -0.65px;
        }
    }

    .shg-sld{
        position: relative;
    }

    .shg-sld-dot{
        background-color: #ffffff;
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }

    .shg-sld-dot.shg-sld-active{
        background-color: transparent;
        border: 5px solid white;
    }

    .shg-sld-dots{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
}

/*BLOCKS GRID*/
.blocks-grid{
    padding: 50px 0!important;
}

.blocks-grid .shg-box-content{
    max-width: 1200px;
    margin: 0 auto;

    .shogun-heading-component{
        h2{
            color: #ffffff;
            font-size: 74px!important;
            font-weight: 400;
            line-height: 69.21px!important;
            text-transform: uppercase;
            margin: 0 0 30px;
        }
        h3{
            font-size: 37px!important;
        }
    }
}

.blocks-grid .shogun-image-container{
    margin: 0 0 30px;
}

.blocks-grid .shogun-image-container:hover{
    cursor: pointer;
}



/*CHECKOUT*/
.checkout-step--customer .checkout-view-header{
    background-color: red;
}


/*BTN*/
form.shg-product-atc-btn-wrapper .shg-btn {
    text-decoration: none;
    background-color: #6eb43f!important;
    text-shadow: 0 1px 2px rgba(6, 6, 6, 0.42);
    color: #ffffff;
    font-family: "Myriad Pro - Bold Cond";
    font-size: 20px!important;
    line-height: 36px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 60px 10px 20px!important;
    position: relative;

    &:after{
        content:"";
        width: 40px;
        height: 100%;
        position: absolute;
        top:0;
        right:0;
        background-color: #619f38;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &:before{
        content:"";
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right:10px;
        background: url('/assets/icons/cart.svg');
        width: 22px;
        height: 21px;
        z-index: 1;
    }
}